<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div id="header">
        <div id="nav">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Films">Фильмы</a></li>
                <li><a asp-controller="Admin" asp-action="Index">Пользователи</a></li>
                <li><a asp-controller="Admin" asp-action="Create">Авторизация</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2024 - KinoNear
        </div>
    </footer>
</body>
</html>
