@model IEnumerable<Film>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список фильмов</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/home_films.css" />
</head>
<body>
    <div class="container">
        <h1 class="text-center">Список Фильмов</h1>
        @foreach (var film in Model)
        {
            <div class="film-card">
                @if (!string.IsNullOrWhiteSpace(film.Url))
                {
                    <div class="film-image">
                        <!-- Изображение в стиле "cover" для поддержания пропорций -->
                        <img src="@film.Url" alt="Изображение фильма" style="object-fit: cover;">
                    </div>
                }
                <h3 class="card-title">Название: <span>@film.Name</span></h3>
                <p class="card-text"><strong>Описание:</strong> @film.Description</p>
                <div class="film-ratings">
                    @{
                        var averageRating = film.Ratings.Any() ? film.Ratings.Average(r => r.Rating).ToString("0.0") : "Н/Д";
                        var ratingsCount = film.Ratings.Count;
                    }
                    <span class="film-rating">Рейтинг: @averageRating/10 (@ratingsCount проголосовавших)</span>
                </div>
            </div>
        }
    </div>
    <!-- Подключение Bootstrap JS и Popper.js для работы определенных компонентов -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>