<!DOCTYPE html>
<html>
<head>
    <title>Главное вкладка</title>
    <link rel="stylesheet" href="~/css/home_index.css" />
</head>
<body>
    <h1>Добро пожаловать на главную страницу!</h1>
    <h2>Правда тут мало что есть</h2>
    <div class="centered">
        <img src="~/Images/cat.png" alt="Изображение" style="max-width: 50%; height: auto;">
    </div>
</body>
</html>