@model Cinema.Models.DTO.RegistrationModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>

</head>
<body>
    <form asp-action="Registration" method="post">
        <h3>Registration</h3>
        <label>Name</label>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>

        <label>Username</label>
        <input type="text" asp-for="Username" />
        <span asp-validation-for="Username"></span>

        <label>Email</label>
        <input type="text" asp-for="Email" />
        <span asp-validation-for="Email"></span>

        <label>Password</label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>

        <label>Password Confirm</label>
        <input type="password" asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>

        @if (TempData["msg"] != null)
		{
        @TempData["msg"]
		}

        <button type="submit">Signup</button>
    </form>
    <a href="/Account/Login">Login</a>
</body>
</html>